
.Day {
	position: relative;
	padding-top: 23px;
	padding-left: 16px;
	padding-right: 12px;
	color: #444444;
	font-family: "Sax";
	font-family: "Courier New Bold";
	font-family: "gotham-bold";
	font-size: 13pt;
}


.Main {
	position: relative;
	height: 100%;
}



.Data {
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
}


.DirTab {
	position: relative;
	background: var(--colorGrey3);
	height: var(--tabBarHeight);
}

.DirReadStatus {
	position: relative;
	height: 100%;
	padding: 10px;
	color: var(--colorMessagesDark);
	line-height: 12pt;
	white-space: nowrap;
}

.ReadStatusBold {
	display: inline-block;
	--font-family: "rubik-medium";
}


.ReadStatusNormal {
	display: inline-block;
	color: #555555;
}


.xx {
	height: 16px;
	line-height: 12pt;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	text-align: center;
	font-size: 9pt;
	white-space: nowrap;
}



.NewLecture {
	height: 23px;
	width: 23px;
	margin-left: 9px;
	padding-top: 2px;
	margin-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 26px;
	color: #777777;
	display: inline-block;
}

.NewLecture:hover {
	background: var(--colorMessages);
	color: white;
}

.NewLectureIcon {
	display: inline-block;
	padding-left: 5px;
}


.NewLectureText {
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
	padding-left: 7px;
}

.LoginFrame {
	width: 100%;
	height: 100%;
	font-family: "rubik-regular";
	font-size: 10pt;
	color: #555555;
}

.LoginInfo {
	top: 40%;
    left: 46%;
	position: fixed;
	text-align: center;
}


.LoginText {
	text-align: center;
	margin-top: -25px;
	font-size: 9pt;
}



.LoginSSO {
	background: var(--colorGrey3);
	text-align: center;
	height: 28px;
	cursor: pointer;
	margin-top: 30px;
	padding-top: 4px;
}

.LoginSSO:hover {
	background: var(--colorDarkBlue);
	color: var(--colorButtonDark);
	color: white;
}

.Error {
	margin-top: 30px;
}
