
.Data {
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
}




.DirReadStatus {
	position: relative;
	height: 100%;
	padding: 10px;
	color: var(--colorMessagesDark);
	line-height: 12pt;
	white-space: nowrap;
}

.ReadStatusBold {
	display: inline-block;
	--font-family: "rubik-medium";
}


.ReadStatusNormal {
	display: inline-block;
	color: #555555;
}


.xx {
	height: 16px;
	line-height: 12pt;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	text-align: center;
	font-size: 9pt;
	white-space: nowrap;
}



.NewLecture {
	height: 23px;
	width: 23px;
	margin-left: 9px;
	padding-top: 2px;
	margin-top: 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 26px;
	color: #777777;
	display: inline-block;
}

.NewLecture:hover {
	background: var(--colorMessages);
	color: white;
}

.NewLectureIcon {
	display: inline-block;
	padding-left: 5px;
}


.NewLectureText {
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
	padding-left: 7px;
}

.LoginFrame {
	width: 100%;
	height: 100%;
	font-family: "rubik-regular";
	font-size: 10pt;
	color: #555555;
}

.LoginInfo {
	top: 40%;
    left: 46%;
	position: fixed;
	text-align: center;
}


.LoginText {
	text-align: center;
	margin-top: -25px;
	font-size: 9pt;
}



.LoginSSO {
	background: var(--colorGrey3);
	text-align: center;
	height: 28px;
	cursor: pointer;
	margin-top: 30px;
	padding-top: 4px;
}

.LoginSSO:hover {
	background: var(--colorDarkBlue);
	color: var(--colorButtonDark);
	color: white;
}


@font-face {
	font-family: "Courier New";
	src: url("./fonts/Courier\ New.ttf");
}

@font-face {
	font-family: "Courier New Black";
	src: url("./fonts/Courier\ New\ Bold.ttf");
}

@font-face {
	font-family: "Gotham-Black";
	src: url("./fonts/Gotham-Black.ttf");
}

@font-face {
	font-family: "Gotham-Bold";
	src: url("./fonts/Gotham-Bold.ttf");
}


@font-face {
	font-family: "Gotham-Book";
	src: url("./fonts/Gotham-Book.ttf");
}


@font-face {
	font-family: "Gotham-Light";
	src: url("./fonts/Gotham-Light.ttf");
}


@font-face {
	font-family: "Gotham-Thin";
	src: url("./fonts/Gotham-Thin.ttf");
}


@font-face {
	font-family: "F1-regular";
	src: url("./fonts/Formula1-Regular_web_0.ttf");
}


@font-face {
	font-family: "F1-bold";
	src: url("./fonts/Formula1-Bold_web_0.ttf");
}


@font-face {
	font-family: "Ubuntu-Bold";
	src: url("./fonts/Ubuntu-Bold.ttf");
}


@font-face {
	font-family: "Ubuntu-Medium";
	src: url("./fonts/Ubuntu-Medium.ttf");
}

@font-face {
	font-family: "Ubuntu-Regular";
	src: url("./fonts/Ubuntu-Regular.ttf");
}

@font-face {
	font-family: "Ubuntu-Light";
	src: url("./fonts/Ubuntu-Light.ttf");
}


@font-face {
	font-family: "Rubik-Bold";
	src: url("./fonts/Rubik-Bold.ttf");
}


@font-face {
	font-family: "Rubik-Medium";
	src: url("./fonts/Rubik-Medium.ttf");
}

@font-face {
	font-family: "Rubik-Regular";
	src: url("./fonts/Rubik-Regular.ttf");
}

@font-face {
	font-family: "Rubik-Light";
	src: url("./fonts/Rubik-Light.ttf");
}

@font-face {
	font-family: "Consolas";
	src: url("./fonts/CONSOLA.TTF");
}

@font-face {
	font-family: "Menlo";
	src: url("./fonts/Menlo.ttc");
}

@font-face {
	font-family: "Zag-Bold";
	src: url("./fonts/ZagBold.otf");
}

@font-face {
	font-family: "Zag-Regular";
	src: url("./fonts/ZagRegular.otf");
}

@font-face {
	font-family: "Typori-Regular";
	src: url("./fonts/Typori-Regular.ttf");
}

@font-face {
	font-family: "Unispace-Bold";
	src: url("./fonts/unispace_bd.ttf");
}

@font-face {
	font-family: "Sax";
	src: url("./fonts/saxmono.ttf");
}


@font-face {
	font-family: "Exo";
	src: url("./fonts/Exo-DemiBold.otf");
}


@font-face {
	font-family: "Neon";
	src: url("./fonts/Neon.ttf");
}

@font-face {
	font-family: "Yelly";
	src: url("./fonts/Yelly.ttf");
}

@font-face {
	font-family: "Pencil";
	src: url("./fonts/PPETRIAL.ttf");
}

@font-face {
	font-family: "Avenir";
	src: url("./fonts/Avenir.ttc");
}


@font-face {
	font-family: "Trebuchet";
	src: url("./fonts/Trebuchet\ MS.ttf");
}


.Day {
	position: relative;
	margin: auto;
	width: 1000px;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	color: #444444;
	background-color: #eeeeee;
	font-family: "Rubik-Regular";
	font-size: 12pt;
}

.Break {
	position: relative;
	width: 1000px;
	height: 20px;
}

h1 {
  	color: #990000;
	font-family: "Rubik-Bold";
	font-size: 18pt;
}


h2 {
  	color: #444444;
	font-family: "Rubik-Bold";
	font-size: 14pt;
}



